<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
  <title>Charts</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   <script src = "https://code.highcharts.com/highcharts.js"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="{% url 'landing' %}">Earnings</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{% url 'dashboard' 1%}">Reports</a></li>
              <li class="active"><a href="#">Charts</a></li>
              <li><a href="{% url 'invoices_home' %}">Invoices</a></li>
              <li><a href="{% url 'payments' %}">Payments</a></li>
              <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
          </div>
        </nav>
        <div class="jumbotron text-center">
            <h3>View All Charts </h3>
        </div>
        <div class="btn-group btn-group-justified">
                <a href="{% url 'charts' 1 %}" class="btn btn-primary">Current</a>
                <a href="{% url 'charts' 2 %}" class="btn btn-primary">Previous</a>
                <a href="{% url 'charts' 3 %}" class="btn btn-primary"
                   data-toggle = "modal"
                   data-target="#exampleModal">Custom</a>
            </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLabel">Select Dates</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                        <form method="post" action="{% url 'charts' 3 %}">
                            {% csrf_token %}
                          <div class="form-group">
                            <label for="modal_start_date" class="col-form-label">Start Date</label>
                            <input type="date" class="form-control" id="modal_start_date" name="modal_start_date">
                          </div>
                          <div class="form-group">
                            <label for="modal_end_date" class="col-form-label">End Date</label>
                            <input type="date" class="form-control" id="modal_end_date" name="modal_end_date">
                          </div>
                          <div class="form-group">
                              <button class="btn btn-primary" type="submit" id="modal_submit">Get Data</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Total</th>
                        <th>Cumulative</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for key, value in day_totals.items %}
                      <tr>
                        <td>{{key}}</td>
                          {% for v in value %}
                            <td>{{v}}</td>
                          {% endfor %}
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
              </div>

            </div>
            <div class="col-md-6">
                <div id="hc_div_daily"></div>
                <hr>
                <div id="hc_div_cumulative"></div>
                <hr>
                <div id="hc_div_students"></div>

                <script language="JavaScript">
                     $(document).ready(function() {
                     daily_total_charts();
                     cumulative_charts();
                     student_wise_charts();
                     });

                     function daily_total_charts(){
                     dates = {{charts_date|safe}};
                        var chart = {
                           type: 'column'
                        };
                        var title = {
                           text: 'Daily Earning'
                        };
                        var xAxis = {
                           categories: dates,
                           title: {
                              text: null
                           }
                        };
                        var yAxis = {
                           min: 0,
                           title: {
                              text: 'Daily Earnings',
                              align: 'low'
                           },
                           labels: {
                              overflow: 'justify'
                           }
                        };
                        var plotOptions = {
                           bar: {
                              dataLabels: {
                                 enabled: true
                              }
                           }
                        };
                        var legend = {
                           layout: 'horizontal',
                           align: 'right',
                           verticalAlign: 'top',
                           x: -40,
                           y: 100,
                           floating: true,
                           borderWidth: 1,

                           backgroundColor: (
                              (Highcharts.theme && Highcharts.theme.legendBackgroundColor) ||
                                 '#FFFFFF'),
                           shadow: true
                        };
                        var credits = {
                           enabled: false
                        };
                        var series = [
                           {
                              name: 'Daily',
                              data: {{charts_day_totals}}
                           }
                        ];

                        var json = {};
                        json.chart = chart;
                        json.title = title;
                        json.xAxis = xAxis;
                        json.yAxis = yAxis;
                        json.series = series;
                        json.plotOptions = plotOptions;
                        json.legend = legend;
                        json.credits = credits;
                        $('#hc_div_daily').highcharts(json);
                    }



                    function cumulative_charts(){
                     dates = {{charts_date|safe}};
                        var chart = {
                           type: 'column'
                        };
                        var title = {
                           text: 'Cumulative Earnings'
                        };
                        var xAxis = {
                           categories: dates,
                           title: {
                              text: null
                           }
                        };
                        var yAxis = {
                           min: 0,
                           title: {
                              text: 'Cumulative Earnings',
                              align: 'low'
                           },
                           labels: {
                              overflow: 'justify'
                           }
                        };
                        var plotOptions = {
                           bar: {
                              dataLabels: {
                                 enabled: true
                              }
                           }
                        };
                        var legend = {
                           layout: 'horizontal',
                           align: 'right',
                           verticalAlign: 'top',
                           x: -40,
                           y: 100,
                           floating: true,
                           borderWidth: 1,

                           backgroundColor: (
                              (Highcharts.theme && Highcharts.theme.legendBackgroundColor) ||
                                 '#FFFFFF'),
                           shadow: true
                        };
                        var credits = {
                           enabled: false
                        };
                        var series = [
                           {
                              name: 'Cumulative',
                              data: {{charts_cum_totals}}
                           }
                        ];

                        var json = {};
                        json.chart = chart;
                        json.title = title;
                        json.xAxis = xAxis;
                        json.yAxis = yAxis;
                        json.series = series;
                        json.plotOptions = plotOptions;
                        json.legend = legend;
                        json.credits = credits;
                        $('#hc_div_cumulative').highcharts(json);
                        }



                        function student_wise_charts(){
                            students = {{students|safe}};
                            student_totals = {{chart_student_totals|safe}};
                            series_data = []
                            for (i = 0; i < students.length; i++){
                                student_info = [students[i], student_totals[i]];
                                series_data.push(student_info);
                            }
                        var chart = {
                           plotBackgroundColor: null,
                           plotBorderWidth: null,
                           plotShadow: false
                        };
                        var title = {
                           text: 'Student Wise Split'
                        };
                        var tooltip = {
                           pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                        };
                        var plotOptions = {
                           pie: {
                                allowPointSelect: true,
                                cursor: 'pointer',
                              dataLabels: {
                                 enabled: true
                              }
                           }
                        };
                        var series = [{
                            type : 'pie',
                            name : 'share',
                            data : series_data
                        }];

                        var json = {};
                        json.chart = chart;
                        json.title = title;
                        json.series = series;
                        json.plotOptions = plotOptions;
                        json.tooltip = tooltip;
                        $('#hc_div_students').highcharts(json);
                        }
                </script>
            </div>
        </div>

    </div>

</body>
</html>
