<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
  <title>Earnings</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Earnings</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{% url 'dashboard' 1 %}">Reports</a></li>
              <li><a href="{% url 'charts' 1 %}">Charts</a></li>
              <li><a href="{% url 'invoices_home' %}">Invoices</a></li>
              <li><a href="{% url 'logout' %}">Logout</a></li>

            </ul>
          </div>
        </nav>
        <div class="jumbotron text-center">
            <h3>Add a new class</h3>
        </div>
                <form method="post" action="{% url 'add_class' %}" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>Student Name</label>
                    </div>
                    <div class="form-group col-md-6">
                            <select class="form-control" id="record_student" name="student_form" required>
                              {% for student in students.all %}
                              <option>{{student.name}}</option>
                              {% endfor %}
                            </select>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>Date</label>
                    </div>
                    <div class="form-group col-md-6">
                      <input type="date" id="record_date" placeholder="date" name="date" required>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>Start Time</label>
                    </div>
                    <div class="form-group col-md-6">
                      <input type="time" class="form-control" id="record_time_start" placeholder="start time" name="start_time" required>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>End Time</label>
                    </div>
                    <div class="form-group col-md-6">
                      <input type="time" class="form-control" id="record_time_end" placeholder="end time" name="end_time" required>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>Subject</label>
                    </div>
                    <div class="form-group col-md-6">
                            <select class="form-control" id="record_subject" name="subject" required>
                              {% for subject in subjects.all %}
                              <option>{{subject.name}}</option>
                              {% endfor %}
                            </select>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>Topic</label>
                    </div>
                    <div class="form-group col-md-6">
                      <input type="text" class="form-control" id="record_topic" placeholder="topic" name="topic" required>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>Homework</label>
                    </div>
                    <div class="form-group col-md-6">
                      <input type="text" class="form-control" id="record_homework" placeholder="homework" name="homework" required>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>Brought Over</label>
                    </div>
                    <div class="form-group col-md-6">
                      <input type="text" class="form-control" id="record_brought_over" placeholder="anything brought?" name="brought_over" required>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>Remarks</label>
                    </div>
                    <div class="form-group col-md-6">
                      <input type="text" class="form-control" id="record_remarks" placeholder="remarks" name="remarks" required>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>Duration</label>
                    </div>
                    <div class="form-group col-md-6">
                      <input type="number" step="any" class="form-control" id="record_duration" placeholder="duration" name="duration" required>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>Payout</label>
                    </div>
                    <div class="form-group col-md-6">
                      <input type="number" class="form-control" id="record_payout" placeholder="payout" name="payout" required>
                    </div>
                  </div>
                  <div class="form-row">
                      <div class="form-group col-md-4 ml-auto">
                        <button type="submit" class="btn btn-primary">Save</button>
                      </div>
                  </div>
                </form>
        </div>

</body>
</html>
