<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
  <title>Invoices</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="{% url 'landing' %}">Earnings</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{% url 'dashboard' 1%}">Reports</a></li>
              <li><a href="{% url 'charts' 1 %}">Charts</a></li>
              <li class="active"><a href="#">Invoices</a></li>
              <li><a href="{% url 'payments' %}">Payments</a></li>
              <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
          </div>
        </nav>
        <div class="jumbotron text-center">
            <h3>Generate class data and invoice</h3>
        </div>
        <div class="container">
                <form class="form-inline" method="post" action="{% url 'student_invoice' %}">
                    {% csrf_token %}
                    <div class="form-group" style="padding-left: 20px; padding-right : 20px;">
                      <label for="inline_student">Student</label>
                      <select name="invoice_student" id="inline_student" required>
                          {% for student in students.all %}
                          <option>
                              {{student.name}}
                          </option>
                          {% endfor %}
                      </select>
                    </div>
                    <div class="form-group" style="padding-left: 20px; padding-right : 20px;">
                      <label for="inline_start_date">Start Date</label>
                      <input type="date" name="invoice_start_date" id="inline_start_date" required>
                    </div>
                    <div class="form-group" style="padding-left: 20px; padding-right : 20px;">
                      <label for="inline_end_date">End Date</label>
                      <input type="date" name="invoice_end_date" id="inline_end_date" required>
                    </div>
                    <div class="form-group" style="padding-left: 20px; padding-right : 20px;">
                      <label for="inline_submit"></label>
                        <button class="btn btn-primary" type="submit" id="inline_submit">Fetch</button>
                    </div>
                    </form>
            </div>
        <div class="container">
            {% if class_data %}
                     <div class="table-responsive">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>Student</th>
                            <th>Date</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Subject</th>
                            <th>Homework</th>
                            <th>Brought Over</th>
                            <th>Duration</th>
                            <th>Remarks</th>
                            <th>Payout</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for cl in class_data %}
                          <tr>
                            <td>{{cl.student}}</td>
                            <td>{{cl.date}}</td>
                            <td>{{cl.start_time}}</td>
                            <td>{{cl.end_time}}</td>
                            <td>{{cl.subject}}</td>
                            <td>{{cl.homework}}</td>
                            <td>{{cl.brought_over}}</td>
                            <td>{{cl.duration}}</td>
                            <td>{{cl.remarks}}</td>
                            <td>{{cl.payout}}</td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                      </div>
                      <div class="container">
                            <button class="btn btn-primary" type="submit" onclick="location.href='{% url 'invoice_generate' %}'">Generate Invoice</button>
                      </div>
            {% endif %}
        </div>
        </div>



</body>
</html>
