<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Links &middot; Earnings</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="{% url 'landing' %}">Earnings</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{% url 'dashboard' 1 %}">Reports</a></li>
              <li><a href="{% url 'charts' 1 %}">Charts</a></li>
              <li><a href="{% url 'invoices_home' %}">Invoices</a></li>
              <li><a href="{% url 'payments' %}">Payments</a></li>
              <li class="active"><a href="#">Links</a></li>
              <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
          </div>
        </nav>
        <div class="jumbotron text-center">
            <h3>Get All Links</h3>
        </div>
        <div class="row">
            <div class="col-sm-3">
             <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Kesav</h5>
                <h6 class="card-subtitle mb-2 text-muted">Phy, Math, CS</h6>
                <p class="card-text">12th Grade Student</p>
                <a href="https://meet.google.com/dab-hoip-xtt" target="_blank" class="card-link">Start Class</a>
              </div>
            </div>
            <hr>
            </div>
            <div class="col-sm-3">
              <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Rohan</h5>
                <h6 class="card-subtitle mb-2 text-muted">Phy, Math</h6>
                <p class="card-text">11th Grade Student</p>
                <a href="https://meet.google.com/vtc-arkv-mjg" target="_blank" class="card-link">Start Class</a>
              </div>
            </div>
            <hr>
            </div>
            <div class="col-sm-3">
               <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Minseo</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Phy, CS</h6>
                  <p class="card-text">11th Grade Student</p>
                  <a href="https://meet.google.com/atw-kphi-rzf"  target="_blank" class="card-link">Start Class</a>
                </div>
            </div>
            <hr>
            </div>
            <div class="col-sm-3">
              <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Rohan and Minseo</h5>
                <h6 class="card-subtitle mb-2 text-muted">Phy</h6>
                <p class="card-text">Group Class (IB DP 1)</p>
                <a href="https://meet.google.com/nqc-vrrp-vcx" target="_blank" class="card-link">Start Class</a>
              </div>
            </div>
            <hr>
            </div>
            <div class="col-sm-3">
             <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Ishaq</h5>
                <h6 class="card-subtitle mb-2 text-muted">Python</h6>
                <p class="card-text">8th Grade Student</p>
                <a href="https://meet.google.com/bug-mnyn-jnq" target="_blank" class="card-link">Start Class</a>
              </div>
            </div>
            <hr>
            </div>
            <div class="col-sm-3">
              <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Shreyhas</h5>
                <h6 class="card-subtitle mb-2 text-muted">Web Developmenth</h6>
                <p class="card-text">12th Grade Student</p>
                <a href="https://meet.google.com/ofn-ewts-vat" target="_blank" class="card-link">Start Class</a>
              </div>
            </div>
            <hr>
            </div>
            <div class="col-sm-3">
               <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Anirudh</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Phy</h6>
                  <p class="card-text">11th Grade Student</p>
                  <a href="https://meet.google.com/ecf-uihx-ctv"  target="_blank" class="card-link">Start Class</a>
                </div>
            </div>
            <hr>
            </div>
            <div class="col-sm-3">
              <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Arnav</h5>
                <h6 class="card-subtitle mb-2 text-muted">Maths</h6>
                <p class="card-text">9th Grade Student</p>
                <a href="https://meet.google.com/uwy-vzhy-oku" target="_blank" class="card-link">Start Class</a>
              </div>
            </div>
            <hr>
            </div>
            <div class="col-sm-3">
             <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Shiven</h5>
                <h6 class="card-subtitle mb-2 text-muted">Maths</h6>
                <p class="card-text">8th Grade Student</p>
                <a href="https://meet.google.com/fet-rayf-npt" target="_blank" class="card-link">Start Class</a>
              </div>
            </div>
            <hr>
            </div>
            <div class="col-sm-3">
              <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Anya</h5>
                <h6 class="card-subtitle mb-2 text-muted">Maths</h6>
                <p class="card-text">8th Grade Student</p>
                <a href="https://meet.google.com/vwo-kmqf-dga" target="_blank" class="card-link">Start Class</a>
              </div>
            </div>
            <hr>
            </div>
            <div class="col-sm-3">
               <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Dev</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Web Development</h6>
                  <p class="card-text">9th Grade Student</p>
                  <a href="https://meet.google.com/snz-buxx-tpk"  target="_blank" class="card-link">Start Class</a>
                </div>
            </div>
            <hr>
            </div>
          </div>
        </div>
</body>
</html>